.line{
     width: 30px;
     height: 5px;
     background-color: #F26421;
     margin: 4px 0;
  }
 .menu_btn{
      padding: 3px 1px 0px;
      margin-top: 4%;
 }
 @media only screen and (max-width: 767px){
     .business-banner{
         display: none !important;
     }
     .business-logo {     
         margin-top: 0px !important;
     }
}
.facebook {
    cursor: pointer;
    padding: 11px 13px 11px 15px;
    text-align: left;
    border-radius: 3px;
    width: 215px;
    background: #4267b2;
    color: white;
}