*, *:before, *:after {box-sizing:  border-box !important;}
.masonry-grid:after {
    content: '';
    display: block;
    clear: both;
}
.masonry-grid{
    -moz-column-width: 20em;
    -webkit-column-width: 20em;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
}
.grid-item {
    display: inline-block !important;
    margin:  5px 0 !important;
    padding:  0 !important;
    width:  100% !important;
}
